
/* ==========================================================================
   Global
   ========================================================================== */
*{
  box-sizing: border-box;
}

body{
  font-family:"Lato",sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family:"Montserrat", sans-serif;
  text-transform: uppercase;
  color:#444;
}
p{
  color:#757575;
}
.wrapper{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  /*height: 100vh;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* ==========================================================================
   Header
   ========================================================================== */
.header{
  background-color: #fcfcfc;
  position:relative;
  height:100vh;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  overflow:hidden;
}
.header-punchline{
  font-size:375%;
  /*font-weight:900;*/
  position:relative;
  z-index:10;
  line-height:120%;
}
.header-punchline::before{
  content:url('../img/circle-header.svg');
  position:absolute;
  z-index:-1;
  top: -20px;
  left: -30px;
}
.header-col-left{
  width:56%;
  z-index:10;
  /*height:100vh;*/
}
.header-circle-small, .header-circle-large, .header-man{
  position:absolute;
  right:0;
}
.header-man{
  right:0%;
  height:100vh;
}
.header-circle-large{
  width:40%;
  right:-3%;
}
.header-circle-small{
  right:37%;
  top:70%;
}
.header-cta{
  border:1px solid #444;
  text-transform: uppercase;
  text-decoration: none;
  color:#444;
  font-family: "montserrat",sans-serif;
  font-weight:500;
  padding:20px 35px;
  margin-top:40px;
}
.header-cta:hover{
  border:1px solid #444;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#444;
  color:#fff;
  font-family: "montserrat",sans-serif;
  font-weight:500;
  padding:20px 35px;
  margin-top:40px;
}
.header-p{
  margin-bottom:50px;
  line-height:1.8;
}
.slider-buttons{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
      -ms-flex-direction:row;
          flex-direction:row;
  margin-top:60px;
}
.header-slider-button{
  width:22px;
  height:4px;
  background-color: #e3e3e3;
  margin-right:4px;
}
.header-slider-button-active{
  width:22px;
  height:4px;
  background-color: #444;
  margin-right:4px;
}
/* ==========================================================================
   Navigation
   ========================================================================== */
.navigation{
  background-color:#2a2a2a;
  height:80px;
  display:flex;
  justify-content: center;
}
.wrapper-nav-bar{
  width:1170px;
  padding:0 15px;
  display:flex;
  align-items:center;
}
.nav-items{
  justify-content: flex-end;
  display: flex;
  width: 85%;
}
.nav-items a{
  text-transform: uppercase;
  color:white;
  text-decoration: none;
  padding-left:40px;
  font-size:14px;
  font-weight:200;
}
.nav-items a:hover{
  color:#ffe400;
}
.logo{
  margin-top: 6px;
}
/* ==========================================================================
   About
   ========================================================================== */
.about{
  position:relative;
}
.about-wrapper{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  /*height: 100vh;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
}
.container-center{
  max-width:944px;
  text-align:center;
  margin-top:100px;
  z-index:10;
}
.container-center h1{
  font-size: 36px;
  position: relative;
}
.container-center h1::before{
  content:"About";
  font-size: 36px;
  text-transform:uppercase;
  color:#e8e8e8;
  font-weight:800;
  font-size:91px;
  position:absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%,0);
  top: -53px;
}
.container-center p{
  line-height: 1.7;
}
.about-buttons{
  margin-top:70px;
}
.about-buttons .btn-dark{
  background-color: #444;
  /*text-transform: uppercase;*/
  text-decoration: none;
  color: #ffe400;
  font-family: "montserrat",sans-serif;
  font-weight: 500;
  padding: 20px 60px;
  margin-right: 10px;
}
.about-buttons .btn-yellow{
  background-color: #ffe400;
  /*text-transform: uppercase;*/
  text-decoration: none;
  color: #444;
  font-family: "montserrat",sans-serif;
  font-weight: 500;
  padding: 20px 35px;
  /*margin-top: 70px;*/
}
.about-features{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width:100%;
  margin-top:100px;
}
.feature-col{
  width: 31%;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
.feature-col h3{
  color:#fff;
  text-transform: initial;
  font-size: 24px;
  font-weight:500;
  padding-top:20px;
  text-align:center;
}
.feature-col img{
  padding-top:50px;
}
.about-wrapper h3.center{
  font-size:30px;
  margin-top: 140px;
  margin-bottom: 0;
  text-align: center;
}
.about-wrapper span{
  font-size:46px;
  font-weight:800;
  font-family:'Montserrat', sans-serif;
  color:#444;
}
.numbers{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
  margin-top: 90px;
  margin-bottom: 140px;
}
.number-col{
  padding: 0 15px;
}
.number-col p{
 font-size:13px;
 margin-top:0;
 /*text-align: center;*/
 padding-left: 3%;
}
.about-circle-large{
  position:absolute;
  width:45%;
  left:-20%;
  top:17%;
  z-index:-1;
}
